// body {
// 	height: 100%;
// 	background-image: url('../images/3603209803_b9c0d87aaf_b.jpg');
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }
.introduction {
	padding: 10% 0 10% 0;
	height:70%;
	text-align: center;
}
body {
	background-color: #F5F8FA;
}

h1, h2, p {
	background-color: #FFFFFF;
}
