<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/contact.css">
  </head>

  <body>
  	<div class="navbar navbar-default" role="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sion Owen Development</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../index.html">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Professional</li>
                <li><a href="spark-starter.html">SparkStarter</a></li>
                <li><a href="nomadic-audio.html">Nomadic Audio</a></li>
                <li class="dropdown-header">Educational</li>
                <li><a href="chation.html">Chation</a></li>
                <li><a href="budget-app.html">Budget-App</a></li>
              </ul>
            </li>
            <li class="active"><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
   	<div class="container text-center">
  	<h1>Contact Page</h1>
	  	<p>
	  		I can be reached via email at Sionowen34@gmail.com. <br>
	  		<a href="https://www.linkedin.com/in/sion-owen-384b76a2">Linkedin</a> <br>
	  		<a href="https://github.com/sionowen">Github</a>
	  	</p>

	 </div>
	<script type="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js">
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js">
    </script>
  </body>
 </html>
