<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<title>Untitled</title>
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/nomadic-audio.css">
  </head>

  <body>
  	<div class="navbar navbar-default" role="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>          
          </button>
          <a class="navbar-brand" href="#">Sion Owen Development</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../index.html">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Professional</li>
                <li><a href="spark-starter.html">SparkStarter</a></li>
                <!-- <li><a href="nomadic-audio.html">Nomadic Audio</a></li> -->
                <li class="dropdown-header">Educational</li>
                <li><a href="chation.html">Chation</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>	
  		<h1>Nomadic Audio</h1>
	  <p>
	  	also Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis enim, a ipsum aspernatur voluptates excepturi, dolorem quam quo, assumenda explicabo voluptatem impedit exercitationem ut, vero facilis reiciendis optio voluptatibus?
	  </p>
	  <p>
		  and Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis dolorum labore distinctio rerum, in optio nam vel, maiores ipsa voluptatum, porro, vitae eveniet ipsam ducimus iusto inventore animi temporibus nulla.
	  </p>
	<script type="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js">
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js">
    </script>
  </body>
 </html>