<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
  	<title>SparkStarter</title>
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/sparkstarter.css">
  </head>

  <body>
  	<div class="navbar navbar-default" role="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>          
          </button>
          <a class="navbar-brand" href="#">Sion Owen Development</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../index.html">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Professional</li>
                <li class="active"><a href="spark-starter.html">SparkStarter</a></li>
                <li><a href="nomadic-audio.html">Nomadic Audio</a></li>
                <li class="dropdown-header">Educational</li>
                <li><a href="chation.html">Chation</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>	
    <div class="container text-center">
  		<h1> SparkStarter </h1>
  		<h2>What is SparkStarter?</h2>
  		<p>
  			SparkStarter is a mobile based dating application based out of Minneapolis. The app lets you either search for dating partners for yourself or use the app to play matchmaker for your friends.  It is available on Android and IOS and can be downloaded via the App store and the Play store.
  		</p>
		<a href="https://www.sparkstarter.com/">SparkStarter Website</a>

  		<h2>My Experience at SparkStarter</h2>
  		<p>
	  		My work at Sparkstarter was where I did my most complex and meaningful development work. Sparkstarter is a hybrid application leveraging web development techknologies to build mobile applications. We used the Ionic Stack to develop the app which leans heavily on AngularJS. Our Development team used many industry standard techknowlodgies to improve workflow including Git through Bitbucket, Gulp, and SCSS. 
	  	</p>
  		<h2>What I Built</h2>
	  	<p>
			I was responsible for building much of the templates and more styling that is used in the app. While most members of the team were involved with most pages of the application in some way, naturally most of us found ourselves specialising on some portion of the app in some way. I built the opening page and the following two registration pages. I also was involved in the main page and the chat page, which were team projects that evolved over the course of our work. You can see images below of some of the pages that I worked on more extensively.
	  	</p>
	</div>
	  	<div class="container">
	  		<div class="row">
	  			<div class="col-sm-6">
	  				<img class="img-responsive center-block" src="../images/sparkstarter_login.png">
	  			</div>
	  			<div class="col-sm-6">
	  				<img class="img-responsive center-block" src="../images/sparkstarter_registration.png">
	  			</div>
	  			<div class="col-sm-6">
	  				<img class="img-responsive center-block"  src="../images/sparkstarter_main_page.png">
	  			</div>
	  			<div class="col-sm-6">
	  				<img class="img-responsive center-block" src="../images/sparkstarter_chat.png">
	  			</div>
	  		</div>



	  	</div>
	<script type="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js">
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.js">
    </script>
  </body>
 </html>